
<div class="well">
<h4>Upcoming Conferences</h4>

<a href="https://vst2022.scch.at/">VST 2022</a> <br/>
<a href="https://saner2022.uom.gr/">SANER 2022</a> <br/>
<a href="https://conf.researchr.org/home/icse-2022">ICSE 2022</a> <br/>
<a href="https://conf.researchr.org/home/msr-2022">MSR 2022</a> <br/>
<a href="https://conf.researchr.org/home/icpc-2022">ICPC 2022</a> <br/>
<a href="https://2022.esec-fse.org/">ESEC/FSE 2022</a> <br/>
<a href="https://conf.researchr.org/home/icse-2023">ICSE 2023</a> <br/>

</div>