<div id="footer" class="panel panel-custom">
  <div class="panel-footer panel-custom">
	<div class="container-fluid container-custom">
		  &copy 2018-{{ site.time | date: '%Y' }} by Martin Pinzger
		<!--
		<div class="col-sm-4">
		  Contact:<br />
		  Alpen-Adria-Universität Klagenfurt<br />
		  Universitätsstraße 65-67<br />
		  9020 Klagenfurt, Austria (<a href="https://goo.gl/maps/H2RjutkyoUH2">map</a>
		</div>
		-->
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
